.table {
  margin: 0 8px;
  padding-top: 40px;
}

.table__content {
  width: 100%;
  border: 1px solid grey;
}

table, thead, td, th {
  padding: 10px 4px;
  text-align: left;
}


table,
tr > * {
  background-color:whitesmoke;
  border-collapse: collapse;
  border: 2px solid #9999;
  font-size: 13px;
}

thead {
  font-weight: bold;
}

.table tr th:first-child {
  width: 45%;
}

.table tr th:nth-child(2) {
  width: 30%;
}

.table tr th:nth-child(3) {
  width: 15%;
}

.table tr th:last-child {
  width: 10%;
}
