@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
}

* {
  box-sizing: inherit;
}

/* MAIN */
.app {
  overflow: hidden; 
  margin: 0 20px;
}

@layer components{
  .btn-primary {
    @apply bg-rose-500 p-4 text-white rounded-lg
  }
}