@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
}

* {
  box-sizing: inherit;
}

/* MAIN */
.app {
  overflow: hidden; 
  margin: 0 20px;
}

@layer components{
  .btn-primary {
    @apply bg-rose-500 p-4 text-white rounded-lg
  }
  
  .table__content {
    @apply w-full border-collapse;
  }
  
  table, thead, td, th {
    @apply text-left py-4 px-2
  }
  
  table,
  tr > * {    
    @apply bg-stone-100 border-solid border-2 border-zinc-400 text-xl text-left
  }
  
  thead {    
    @apply font-bold
  }
  
  .table tr th:first-child {
    /* width: 45%; */
    @apply w-[45%]
  }
  
  .table tr th:nth-child(2) {
    /* width: 30%; */
    @apply w-[30%]
  }
  
  .table tr th:nth-child(3) {
    /* width: 15%; */
    @apply w-[15%]
  }
  
  .table tr th:last-child {
    /* width: 10%; */
    @apply w-[10%]
  }
  

}

